In [ ]:
import pandas as pd
df_age = pd.read_csv("DATA/MSOA-Age by single year.csv")
df_age.head()

In [ ]:
# rename
df_age = df_age.rename(columns={
    'Middle layer Super Output Areas Code': 'MSOA',
    'Age (101 categories)': 'age',
    'Observation': 'count'
})

In [ ]:
# select"age"
df_age['age_num'] = df_age['age'].str.extract(r'(\d+)').astype(float)

# filter invaild 
df_age = df_age.dropna(subset=['age_num'])

# choose 10-11 
target_age = df_age[df_age['age_num'].isin([10, 11])].groupby('MSOA')['count'].sum()

# count total pop
total_pop = df_age.groupby('MSOA')['count'].sum()

# calculate the percent of 10-11
df_age_10_11 = pd.DataFrame({
    'percent_age_10_11': (target_age / total_pop) * 100
}).reset_index()

# output
df_age_10_11.head()
df_age_10_11.to_csv("Cleaned/age_10_11_cleaned.csv", index=False)

        MSOA  percent_age_10_11
0  E02000001           1.072386
1  E02000002           3.924647
2  E02000003           2.545895
3  E02000004           2.364102
4  E02000005           3.400686