In [ ]:
import pandas as pd
df_ethnicity = pd.read_csv("DATA/MSOA-Ethnic group.csv")
df_ethnicity.head()

Index(['Middle layer Super Output Areas Code',
       'Middle layer Super Output Areas', 'Ethnic group (20 categories) Code',
       'Ethnic group (20 categories)', 'Observation'],
      dtype='object')

,Middle layer Super Output Areas Code,Middle layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
0,E02000001,City of London 001,-8,Does not apply,0
1,E02000001,City of London 001,1,"Asian, Asian British or Asian Welsh: Bangladeshi",287
2,E02000001,City of London 001,2,"Asian, Asian British or Asian Welsh: Chinese",545
3,E02000001,City of London 001,3,"Asian, Asian British or Asian Welsh: Indian",321
4,E02000001,City of London 001,4,"Asian, Asian British or Asian Welsh: Pakistani",33

In [ ]:
# rename
df_ethnicity = df_ethnicity.rename(columns={
    'Middle layer Super Output Areas Code': 'MSOA',
    'Ethnic group (20 categories)': 'ethnic_group',
    'Observation': 'count'
})

In [ ]:
# change to numeric
df_ethnicity['count'] = pd.to_numeric(df_ethnicity['count'], errors='coerce')

In [ ]:
# get the white
df_ethnicity['is_white'] = df_ethnicity['ethnic_group'].str.startswith("White", na=False)

In [ ]:
# count the total pop
total = df_ethnicity.groupby('MSOA')['count'].sum()

In [ ]:
# count white 
white = df_ethnicity[df_ethnicity['is_white']].groupby('MSOA')['count'].sum()

In [ ]:
# calculate the percent of nonwhite 
nonwhite_percent = ((total - white) / total * 100).reset_index()
nonwhite_percent.columns = ['MSOA', 'nonwhite_percent']

In [ ]:
# output
nonwhite_percent.head()
nonwhite_percent.to_csv("cleaned/nonwhite_cleaned.csv", index=False)

        MSOA  nonwhite_percent
0  E02000001         30.626747
1  E02000002         51.183289
2  E02000003         59.334373
3  E02000004         37.142427
4  E02000005         55.626748