In [ ]:
import pandas as pd
import numpy as np
obesity_df = pd.read_excel("DATA/MSOA_Ward_LA_Obesity.xlsx", sheet_name="2011-12_2013-14")
obesity_df.columns = obesity_df.columns.str.strip()
obesity_df.head()

obesity_df_skip = pd.read_excel("DATA/MSOA_Ward_LA_Obesity.xlsx", sheet_name="2011-12_2013-14", skiprows=637)
obesity_df_skip.columns = obesity_df.columns.str.strip()
obesity_df_skip.head()

In [ ]:
# select and rename
df_obesity_select = obesity_df_skip[['Unnamed: 1', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']].copy()
df_obesity_select.columns = ['MSOA', 'number_measured', 'number_obese', 'obesity_rate']

df_obesity_select = df_obesity_select[df_obesity_select['obesity_rate'].notna()]
df_obesity_select = df_obesity_select[df_obesity_select['obesity_rate'] != 'NA']

# change and clean to numeric
df_obesity_select['number_measured'] = pd.to_numeric(df_obesity_select['number_measured'], errors='coerce')
df_obesity_select['number_obese'] = pd.to_numeric(df_obesity_select['number_obese'], errors='coerce')
df_obesity_select['obesity_rate'] = pd.to_numeric(df_obesity_select['obesity_rate'], errors='coerce') * 100  # 转为百分比

df_obesity_select = df_obesity_select.dropna()

# check the rate 
df_obesity_select['check_rate'] = df_obesity_select['number_obese'] / df_obesity_select['number_measured'] * 100

        MSOA  number_measured  number_obese  obesity_rate  check_rate
0  E02000001             56.0          13.0     23.214286   23.214286
1  E02000002            254.0          61.0     24.015748   24.015748
2  E02000003            313.0          75.0     23.961661   23.961661
3  E02000004            138.0          29.0     21.014493   21.014493
4  E02000005            363.0          88.0     24.242424   24.242424

In [ ]:
# output
df_obesity_select.head()
df_obesity_output = df_obesity_select.drop(columns=['check_rate'])
df_obesity_output.to_csv("Cleaned/year6_obesity_cleaned.csv", index=False)