In [ ]:

import pandas as pd
df_household = pd.read_csv("DATA/MSOA-Household size.csv")
df_household.head()

# renmae
df_household = df_household.rename(columns={
    'Middle layer Super Output Areas Code': 'MSOA',
    'Household size (9 categories)': 'size',
    'Observation': 'count'
})

# clean “0 people”
df_household = df_household[df_household['size'].str.contains("0 people") == False]

# get size num
df_household['size_num'] = df_household['size'].str.extract(r'(\d+)').astype(int)

# change to numeric
df_household['count'] = pd.to_numeric(df_household['count'], errors='coerce')

# count total pop = sum(size × count)
df_household['total_people'] = df_household['size_num'] * df_household['count']

# calculate avg
df_avg = df_household.groupby('MSOA').agg({
    'count': 'sum',
    'total_people': 'sum'
}).reset_index()

df_avg['average_household_size'] = df_avg['total_people'] / df_avg['count']

# output
df_avg = df_avg[['MSOA', 'average_household_size']]
df_avg.head()
df_avg.to_csv("cleaned/household_size_cleaned.csv", index=False)

        MSOA  average_household_size
0  E02000001                1.702890
1  E02000002                2.864808
2  E02000003                2.907888
3  E02000004                2.794372
4  E02000005                3.043286